*{
    margin: 0;
}
.resume_{
    margin-top: 20px;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    // filter: drop-shadow(0 0 10px lightblue);
    header{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        span{
            // background-color: #F57F17;
            font-size: 30px;
            position: relative;
            padding-bottom: 20px;
            color: #0ABEAD;
        }
        span::after{
            content: "";
            width: 70px;
            height: 10px;
            background-color: #0ABEAD;
            position: absolute;
            left: 26%;
            bottom: 3px;
            border-radius: 10px;
        }
        span::before{
            content: "";
            width: 154.5px;
            height: 3px;
            background-color: #0ABEAD;
            position: absolute;
            left: 0;
            bottom: 6px;
            border-radius: 10px;
        }
    }
    .container{
        // background-color: green;
        display: flex;
        margin-top: 20px;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 160px;
        .col_left{
            // display: flex;
            flex: 0.5;
            // background-color: blue;
            .card{
                position: relative;
                // background-color: #F57F17;
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                box-shadow: 0 0 10px lightblue;
                div{
                    z-index: 1;
                    display: flex;
                    //background-color: #0ABEAD;
                    margin: 10px 0;
                    cursor: pointer;
                    img{
                        padding: 10px;
                        background-color: #0ABEAD;
                        border-radius: 50%;
                        margin-left: 5px;
                        width: 20px;
                    }
                    span{
                        padding: 10px;
                        margin: 0 20px;
                        //background-color: yellow;
                    }
                }
                div.active{
                    background-color: #0ABEAD;
                    width: 80%;
                    border-radius: 30px;
                    color: white;
                }
            }
            .card::after{
                content: "";
                background-color: #0ABEAD;
                width: 27px;
                height: 100%;
                position: absolute;
                left: 0;
            }
        }
        .col_right{
            display: flex;
            flex: 0.5;
            // background-color: yellow;
            justify-content: flex-start;
            padding: 10px;
            flex-direction: column;
            position: relative;
            #content{
                opacity: 0;
            }
            #content.active-tab{
                // background-color: green;
                list-style: none;
                opacity: 1;
                position: absolute;
                li{
                    position: relative;
                    // background-color: red;
                    font-size: 17px;
                    animation: active-resume 1s ease forwards;
                    padding-bottom: 25px;
                    padding-top: 10px;
                    opacity: 1;
                    @keyframes active-resume {
                        from{
                            top: 70px;
                        }
                        to{
                            top: 0px;
                        }
                    }
                    p{
                        // display: inline-block;
                        background-color: #F57F17;
                        // border-radius: 35px;
                        padding: 5px;
                        color: white;
                        font-size: 14px;
                        
                    }
                }
                li::before{
                    content: "";
                    height: 20px;
                    width: 20px;
                    background-color: #0ABEAD;
                    border-radius: 50%;
                    position: absolute;
                    left: -30px;
                    top: 14px;
                }
                li::after{
                    content: "";
                    height: 100%;
                    width: 4px;
                    background-color: #0ABEAD;
                    position: absolute;
                    left: -22.5px;
                    top: 0px;
                }
            }
            .content-skill {
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                margin-left: -40px;
                div {
                    padding: 5px;
                }
            }
        }
    }
}


@media screen and (max-width: 920px){
    .resume_{
        padding-top: 150px;
        .container{
            flex-direction: row;
            justify-content: center;
            .col_left, .col_right{
                justify-content: flex-start;
                flex: 100%;
            }
            .col_left{
                .card::after{
                    display: none;
                }
                .card{
                    flex-direction: row;
                    flex: 100%;
                    box-shadow: none;
                    div{
                        span{
                            display: none;
                        }
                    }
                    div.active{
                        background-color: #0ABEAD;
                        width: 60%;
                        border-radius: 30px;
                        color: white;
                        span{
                            display: block;
                            margin: 0 5px;
                        }
                    }
                }
            }
            .col_right{
                padding: 0;
            }
        }
    }
}